.Container {
    position: relative;
}

.Visual {
    pointer-events: none;
    width: 100%;
    height: 100%;
}

.Input {
    position: absolute;
    top:0;
    left: 0;
    cursor: grab;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
    opacity: 0;
}
