@value blueGrey_900: #263238;
@value blueGrey_900Dark: #000a12;
@value blueGrey_700: #455a64;
@value blueGrey_400: #78909c;
@value blueGrey_100: #cfd8dc;

@value red_900: #b71c1c;
@value red_900Dark: #7f0000;
@value red_700: #d32f2f;
@value red_400: #ef5350;
@value red_100: #ffcdd2;

@value pink_900: #880e4f;
@value pink_900Dark: #560027;
@value pink_700: #c2185b;
@value pink_400: #ec407a;
@value pink_100: #f8bbd0;

@value purple_900: #4a148c;
@value purple_900Dark: #12005e;
@value purple_700: #7b1fa2;
@value purple_400: #ab47bc;
@value purple_100: #e1bee7;

@value deepPurple_900: #311b92;
@value deepPurple_900Dark: #000063;
@value deepPurple_700: #512da8;
@value deepPurple_400: #7e57c2;
@value deepPurple_100: #d1c4e9;

@value indigo_900: #311b92;
@value indigo_900Dark: #000063;
@value indigo_700: #512da8;
@value indigo_400: #7e57c2;
@value indigo_100: #d1c4e9;


@value grey_900: #212121;
@value grey_900Dark: #000000;
@value grey_700: #616161;
@value grey_400
@value grey_100: #f5f5f5;


@value track_height: 12px;
@value track_width: 100%;
@value thumb_height: 24px;
@value thumb_width: 32px;
@value border_radius: 3px;


.Container {
    position: relative;
}

.ContainerVertical {
    composes: Container;
}

.Input {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

.InputVertical {
    composes: Input;
    transform: rotate(-90deg);
    transform-origin: top right;
}

.Input:focus {
    outline: none; /* Removes the blue border */
}

/** ---------------------------- **/

.InputWebkitSliderThumb {
    height: thumb_height;
    width: thumb_width;
    border-radius: border_radius;
    cursor: grab;
    -webkit-appearance: none;
    margin-top: -8px;
}

.InputMozRangeThumb {
    height: thumb_height;
    width: thumb_width;
    border-radius: border_radius;
    background: red_900Dark;
    cursor: grab;
    margin-top: -8px;
}

.InputMsThumb {
    width: thumb_width;
    border-radius: border_radius;
    background: red_900Dark;
    cursor: grab;
    height: track_height;
    margin-top: -8px;
}

.InputWebkitSliderRunnableTrack {
    height: track_height;
    cursor: grab;
    background: red_700;
    border-radius: border_radius;
}

.InputMozRangeTrack {
    width: track_width;
    height: track_height;
    cursor: grab;
    background: red_700;
    border-radius: border_radius;
}

.InputMsTrack {
    width: track_width;
    height: track_height;
    cursor: grab;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.InputMsFillLower {
    border-radius: border_radius;
}

.InputMsFillUpper {
    border-radius: border_radius;
}

/** ---------------------------- **/
.Input_blueGrey {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

.InputVertical_blueGrey {
    composes: Input_blueGrey;
    transform: rotate(-90deg);
    transform-origin: top right;
}

.Input_blueGrey:focus {
    outline: none; /* Removes the blue border */
}

.Input_blueGrey::-webkit-slider-thumb {
    height: thumb_height;
    width: thumb_width;
    border-radius: border_radius;
    background: blueGrey_900;
    cursor: grab;
    -webkit-appearance: none;
    margin-top: -6px;
}

.Input_blueGrey::-moz-range-thumb {
    height: thumb_height;
    width: thumb_width;
    border-radius: border_radius;
    background: blueGrey_900;
    cursor: grab;
    margin-top: -6px;
}

.Input_blueGrey::-ms-thumb {
    width: thumb_width;
    border-radius: border_radius;
    background: blueGrey_900;
    cursor: grab;
    height: track_height;
    margin-top: -6px;
}

.Input_blueGrey::-webkit-slider-runnable-track {
    height: track_height;
    cursor: grab;
    background: blueGrey_700;
    border-radius: border_radius;
}

.Input_blueGrey:focus::-webkit-slider-runnable-track {
    background: blueGrey_400;
}

.Input_blueGrey::-moz-range-track {
    width: track_width;
    height: track_height;
    cursor: grab;
    background: blueGrey_700;
    border-radius: border_radius;
}

.Input_blueGrey::-ms-track {
    width: track_width;
    height: track_height;
    cursor: grab;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.Input_blueGrey::-ms-fill-lower {
    background: blueGrey_700;
    border-radius: border_radius;
}

.Input_blueGrey::-ms-fill-upper {
    background: blueGrey_700;
    border-radius: border_radius;
}

.Input_blueGrey:focus::-ms-fill-lower {
    background: blueGrey_400;
}

.Input_blueGrey:focus::-ms-fill-upper {
    background: blueGrey_400;
}

/** ----------------------------- **/
.Input_red {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

.InputVertical_red {
    composes: Input_red;
    transform: rotate(-90deg);
    transform-origin: top right;
}

.Input_red:focus {
    outline: none; /* Removes the blue border */
}

.Input_red::-webkit-slider-thumb {
    height: thumb_height;
    width: thumb_width;
    border-radius: border_radius;
    cursor: grab;
    -webkit-appearance: none;
    margin-top: -6px;
    background: red_900;
}

.Input_red::-moz-range-thumb {
    height: thumb_height;
    width: thumb_width;
    border-radius: border_radius;
    cursor: grab;
    margin-top: -6px;
    background: red_900;
}

.Input_red::-ms-thumb {
    width: thumb_width;
    border-radius: border_radius;
    cursor: grab;
    height: track_height;
    margin-top: -6px;
    background: red_900;
}

.Input_red::-webkit-slider-runnable-track {
    height: track_height;
    cursor: grab;
    background: red_700;
    border-radius: border_radius;
    background: red_700;
}

.Input_red:focus::-webkit-slider-runnable-track {
    background: red_400;
}

.Input_red::-moz-range-track {
    width: track_width;
    height: track_height;
    cursor: grab;
    background: red_700;
    border-radius: border_radius;
    background: red_700;
}

.Input_red::-ms-track {
    width: track_width;
    height: track_height;
    cursor: grab;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.Input_red::-ms-fill-lower {
    border-radius: border_radius;
    background: red_700;
}

.Input_red::-ms-fill-upper {
    border-radius: border_radius;
    background: red_700;
}

.Input_red:focus::-ms-fill-lower {
    background: red_400;
}

.Input_red:focus::-ms-fill-upper {
    background: red_400;
}

/** ----------------------------- **/

.Input_pink {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

.InputVertical_pink {
    composes: Input_pink;
    transform: rotate(-90deg);
    transform-origin: top right;
}

.Input_pink:focus {
    outline: none; /* Removes the blue border */
}

.Input_pink::-webkit-slider-thumb {
    height: thumb_height;
    width: thumb_width;
    border-radius: border_radius;
    cursor: grab;
    -webkit-appearance: none;
    margin-top: -6px;
    background: pink_900;
}

.Input_pink::-moz-range-thumb {
    height: thumb_height;
    width: thumb_width;
    border-radius: border_radius;
    cursor: grab;
    margin-top: -6px;
    background: pink_900;
}

.Input_pink::-ms-thumb {
    width: thumb_width;
    border-radius: border_radius;
    cursor: grab;
    height: track_height;
    margin-top: -6px;
    background: pink_900;
}

.Input_pink::-webkit-slider-runnable-track {
    height: track_height;
    cursor: grab;
    border-radius: border_radius;
    background: pink_700;
}

.Input_pink:focus::-webkit-slider-runnable-track {
    background: pink_400;
}

.Input_pink::-moz-range-track {
    width: track_width;
    height: track_height;
    cursor: grab;
    border-radius: border_radius;
    background: pink_700;
}

.Input_pink::-ms-track {
    width: track_width;
    height: track_height;
    cursor: grab;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.Input_pink::-ms-fill-lower {
    border-radius: border_radius;
    background: pink_700;
}

.Input_pink::-ms-fill-upper {
    border-radius: border_radius;
    background: pink_700;
}

.Input_pink:focus::-ms-fill-lower {
    background: pink_400;
}

.Input_pink:focus::-ms-fill-upper {
    background: pink_400;
}

/** ----------------------------- **/

.Input_purple {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

.InputVertical_purple {
    composes: Input_purple;
    transform: rotate(-90deg);
    transform-origin: top right;
}

.Input_purple:focus {
    outline: none; /* Removes the blue border */
}

.Input_purple::-webkit-slider-thumb {
    height: thumb_height;
    width: thumb_width;
    border-radius: border_radius;
    cursor: grab;
    -webkit-appearance: none;
    margin-top: -6px;
    background: purple_900;
}

.Input_purple::-moz-range-thumb {
    height: thumb_height;
    width: thumb_width;
    border-radius: border_radius;
    cursor: grab;
    margin-top: -6px;
    background: purple_900;
}

.Input_purple::-ms-thumb {
    width: thumb_width;
    border-radius: border_radius;
    cursor: grab;
    height: track_height;
    margin-top: -6px;
    background: purple_900;
}

.Input_purple::-webkit-slider-runnable-track {
    height: track_height;
    cursor: grab;
    border-radius: border_radius;
    background: purple_700;
}

.Input_purple:focus::-webkit-slider-runnable-track {
    background: purple_400;
}

.Input_purple::-moz-range-track {
    width: track_width;
    height: track_height;
    cursor: grab;
    border-radius: border_radius;
    background: purple_700;
}

.Input_purple::-ms-track {
    width: track_width;
    height: track_height;
    cursor: grab;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.Input_purple::-ms-fill-lower {
    border-radius: border_radius;
    background: purple_700;
}

.Input_purple::-ms-fill-upper {
    border-radius: border_radius;
    background: purple_700;
}

.Input_purple:focus::-ms-fill-lower {
    background: purple_400;
}

.Input_purple:focus::-ms-fill-upper {
    background: purple_400;
}

/** ----------------------------- **/

.Input_deepPurple {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

.InputVertical_deepPurple {
    composes: Input_deepPurple;
    transform: rotate(-90deg);
    transform-origin: top right;
}

.Input_deepPurple:focus {
    outline: none; /* Removes the blue border */
}

.Input_deepPurple::-webkit-slider-thumb {
    height: thumb_height;
    width: thumb_width;
    border-radius: border_radius;
    cursor: grab;
    -webkit-appearance: none;
    margin-top: -6px;
    background: deepPurple_900;
}

.Input_deepPurple::-moz-range-thumb {
    height: thumb_height;
    width: thumb_width;
    border-radius: border_radius;
    cursor: grab;
    margin-top: -6px;
    background: deepPurple_900;
}

.Input_deepPurple::-ms-thumb {
    width: thumb_width;
    border-radius: border_radius;
    cursor: grab;
    height: track_height;
    margin-top: -6px;
    background: deepPurple_900;
}

.Input_deepPurple::-webkit-slider-runnable-track {
    height: track_height;
    cursor: grab;
    border-radius: border_radius;
    background: deepPurple_700;
}

.Input_deepPurple:focus::-webkit-slider-runnable-track {
    background: deepPurple_400;
}

.Input_deepPurple::-moz-range-track {
    width: track_width;
    height: track_height;
    cursor: grab;
    border-radius: border_radius;
    background: deepPurple_700;
}

.Input_deepPurple::-ms-track {
    width: track_width;
    height: track_height;
    cursor: grab;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.Input_deepPurple::-ms-fill-lower {
    border-radius: border_radius;
    background: deepPurple_700;
}

.Input_deepPurple::-ms-fill-upper {
    border-radius: border_radius;
    background: deepPurple_700;
}

.Input_deepPurple:focus::-ms-fill-lower {
    background: deepPurple_400;
}

.Input_deepPurple:focus::-ms-fill-upper {
    background: deepPurple_400;
}

/** ----------------------------- **/

.Input_indigo {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

.InputVertical_indigo {
    composes: Input_indigo;
    transform: rotate(-90deg);
    transform-origin: top right;
}

.Input_indigo:focus {
    outline: none; /* Removes the blue border */
}

.Input_indigo::-webkit-slider-thumb {
    height: thumb_height;
    width: thumb_width;
    border-radius: border_radius;
    cursor: grab;
    -webkit-appearance: none;
    margin-top: -6px;
    background: indigo_900;
}

.Input_indigo::-moz-range-thumb {
    height: thumb_height;
    width: thumb_width;
    border-radius: border_radius;
    cursor: grab;
    margin-top: -6px;
    background: indigo_900;
}

.Input_indigo::-ms-thumb {
    width: thumb_width;
    border-radius: border_radius;
    cursor: grab;
    height: track_height;
    margin-top: -6px;
    background: indigo_900;
}

.Input_indigo::-webkit-slider-runnable-track {
    height: track_height;
    cursor: grab;
    border-radius: border_radius;
    background: indigo_700;
}

.Input_indigo:focus::-webkit-slider-runnable-track {
    background: indigo_400;
}

.Input_indigo::-moz-range-track {
    width: track_width;
    height: track_height;
    cursor: grab;
    border-radius: border_radius;
    background: indigo_700;
}

.Input_indigo::-ms-track {
    width: track_width;
    height: track_height;
    cursor: grab;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.Input_indigo::-ms-fill-lower {
    border-radius: border_radius;
    background: indigo_700;
}

.Input_indigo::-ms-fill-upper {
    border-radius: border_radius;
    background: indigo_700;
}

.Input_indigo:focus::-ms-fill-lower {
    background: indigo_400;
}

.Input_indigo:focus::-ms-fill-upper {
    background: indigo_400;
}

/** ----------------------------- **/

.Input_grey {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

.InputVertical_grey {
    composes: Input_grey;
    transform: rotate(-90deg);
    transform-origin: top right;
}

.Input_grey:focus {
    outline: none; /* Removes the blue border */
}

.Input_grey::-webkit-slider-thumb {
    height: thumb_height;
    width: thumb_width;
    border-radius: border_radius;
    cursor: grab;
    -webkit-appearance: none;
    margin-top: -6px;
    background: grey_900;
}

.Input_grey::-moz-range-thumb {
    height: thumb_height;
    width: thumb_width;
    border-radius: border_radius;
    cursor: grab;
    margin-top: -6px;
    background: grey_900;
}

.Input_grey::-ms-thumb {
    width: thumb_width;
    border-radius: border_radius;
    cursor: grab;
    height: track_height;
    margin-top: -6px;
    background: grey_900;
}

.Input_grey::-webkit-slider-runnable-track {
    height: track_height;
    cursor: grab;
    border-radius: border_radius;
    background: grey_700;
}

.Input_grey:focus::-webkit-slider-runnable-track {
    background: grey_400;
}

.Input_grey::-moz-range-track {
    width: track_width;
    height: track_height;
    cursor: grab;
    border-radius: border_radius;
    background: grey_700;
}

.Input_grey::-ms-track {
    width: track_width;
    height: track_height;
    cursor: grab;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.Input_grey::-ms-fill-lower {
    border-radius: border_radius;
    background: grey_700;
}

.Input_grey::-ms-fill-upper {
    border-radius: border_radius;
    background: grey_700;
}

.Input_grey:focus::-ms-fill-lower {
    background: grey_400;
}

.Input_grey:focus::-ms-fill-upper {
    background: grey_400;
}

