.Container {
    flex-shrink: 0;
    border-radius: 3px;
}

.CellInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
}

.NoteSection{
    display: flex;
    justify-content: space-between;
}
